/* === Base === */
:root{
  --bg-top:#0c0d0e;
  --bg-bot:#080808;
  --fg:#ffffff;
  --accent-start:#E65A50;
  --accent-end:#FF6F61;

  --btn-fg: #fff;
  --btn-bg: #0f1111;



  --navbar-height: 4vw;


}


/* #### Navbar #### */
.navbar {
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(6px);        /* sorgt für einen Glas-Effekt */
  background-color: rgba(0, 0, 0, 0.8); /* halbtransparentes Schwarz */
  color: white;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  z-index: 1000;
}

.nav-center {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 500;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.navbar nav a:hover {
  color: #E65A50;
}


/* CTA Button */
.nav-btn {
  --border-color: linear-gradient(-45deg, #ffae00, #aa035f, #ae00ff);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  margin-left: auto;
  padding: 8px 20px;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.nav-btn::after,
.nav-btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.nav-btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.nav-btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.nav-btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 0.5s;
}

.nav-btn:where(:hover, :focus) {
  color: #fff;
}
/* #### Navbar Ende #### */


/*################*/


/* #### Body #### */
*{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0;
  background: linear-gradient(180deg, var(--bg-top) 0%, var(--bg-bot) 100%) fixed no-repeat;
  color:var(--fg);
  font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  padding-top: var(--navbar-height);
}

main{
  min-height: 60vh;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  padding: 4rem 0 3rem;
}

.container{
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

/* ## Typografie ## */
h1,h2{
  margin:0 auto;
  font-weight:800;
  line-height:1.5;
}

h1{ font-size: clamp(2.2rem, 4vw + 1rem, 4.5rem); padding-top: 0.1vw; }
h2{ font-size: clamp(1.2rem, 1.5vw + 0.8rem, 2rem); margin-top: 1.5rem; padding-bottom: 1vw; }
h3{ font-size: clamp(1.2rem, 1.5vw + 0.8rem, 2rem); }

.lead{
  margin: 1.25rem auto 0;
  max-width: 70ch;
  font-size: clamp(0.95rem, 0.5vw + 0.85rem, 1.1rem);
  color: #eaeaea;
}

.gradient-header{
  position: relative;
  display: block;
}

.text-shadow{
  position: relative;
  z-index: 1;

  background-image: linear-gradient(90deg, var(--accent-start), var(--accent-end));
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  display: inline-block;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.gradient-header::before{
  content: attr(data-text);
  position: absolute;
  inset: 0;
  color:#fff;
  filter: blur(10px);
  transform: translate(14px,14px);
  opacity:.07;
  z-index:0;
}


/* ## Hero ## */
.container{ 
    max-width:1600px;
    width:100%;
    margin:0 auto;
    padding:0 20px;
}

.hero{
  display: grid;
  grid-template-columns: 1fr min(520px, 45%);
  align-items: center;
  gap: 48px;
  padding-bottom: 15vh;
}

.hero-text{
  text-align: center;
  min-width: 360px;
}

.block{
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 520px;
  border-radius: 16px;
  background: linear-gradient(0deg, #000, #272727);
}

.block > img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
  position: relative;
  z-index: 1;
}

.block::before,
.block::after{
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: inherit;
  background: linear-gradient(45deg,
  #1C2230 0%,      /* dunkles Blau für Tiefe */
  #E63E35 15%,     /* kräftiges Rot-Coral */
  #FF6F61 35%,     /* klassisches Coral */
  #FFA68A 60%,     /* heller, warmer Akzent */
  #FFD98E 80%,     /* goldener Lichtreflex */
  #E65A50 100%     /* Rückkehr zum Coralton */
);
  background-size: 500%;
  animation: steam 20s linear infinite;
  z-index: 0;
}

.block::after{
  filter: blur(90px);
}

@keyframes steam{
  0%{background-position:0 0;}
  50%{background-position:300% 0;}
  100%{background-position:0 0;}
}


/* # Loading Text Area # */
.loading-text {
  padding: 5rem 2rem;
  border-radius: 1.25rem;
}
.loader {
  display: block;
  align-items: baseline;
  gap: 6px;
  height: auto;
}

.loader p {
  margin: 0;
  line-height: 1em;
  font-size: clamp(1.2rem, 1.5vw + 0.8rem, 2rem);
}

.words {
  display: inline-block;
  vertical-align: baseline;
  height: 1em;
  line-height: 1em;
  position: relative;
  overflow: hidden;
  font-size: clamp(1.2rem, 1.5vw + 0.8rem, 4rem);
}

.word {
  display: block;
  height: 2em;
  line-height: 1em;
  color: var(--accent-start);
  animation: spin_4991 8s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
/* # Loading Text Area Ende # */






/* ### CTA Button ### */
.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #aa035f, #ae00ff);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 1em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 500ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 1s;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 0.7s;
}

.btn:where(:hover, :focus) {
  color: #fff;
}










/* Socials */
.social-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 180px;
  height: 60px;
  background-color: #1f1f1f;
  border-radius: 80px;
  border: 2px solid #eeeeed;
  padding: 0;
  transition: all 0.5s ease;
  bottom: 4vh;
  right: 2vw;
}

.social-btn:hover {
  background-color: #eeeeed;
  transform: scale(1.1);
}

/* Text */
.social-btn span {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  color: #eeeeed;
  background-color: transparent;
  transition: color 0.4s ease, opacity 0.4s ease;
}

/* Container für Icons */
.social-btn .social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* Icons */
.social-btn svg {
  fill: #1f1f1f;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.4s ease, transform 0.3s ease;
}

.social-btn:hover svg {
  opacity: 1;
  transform: scale(1);
}

.social-btn:hover span {
  opacity: 0;
  color: #1f1f1f;
}


/* Verzögerung für die Icons, optional */
.social-btn .social-container svg:nth-of-type(1) {
  transition-delay: 0.3s;
}
.social-btn .social-container svg:nth-of-type(2) {
  transition-delay: 0.4s;
}
.social-btn .social-container svg:nth-of-type(3) {
  transition-delay: 0.5s;
}
.social-btn .social-container svg:nth-of-type(4) {
  transition-delay: 0.6s;
}





/* Header/Footer Platzhalter */
.site-header,
.site-footer{
  padding: 12px 0;
}




/* ###=### Responsives Finetuning ###=### */
@media (max-width: 768px){
  .lead{ max-width: 85ch; }
  main{ padding: 3rem 0 2rem; }
}

@media (max-width: 900px){
  .hero{
    grid-template-columns: 1fr;
    gap: 28px;
  }
  .hero-image{ justify-self: center; }
  .hero-text{ min-width: 0; }
}
